<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Y" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">YourBrand</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Contact', contact_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
  <!-- Content  -->
  <div class="container mt-4">
    <%= yield %>
  </div>

  <!-- Botom -->
  <footer class="bg-light text-center mt-5 p-3">
    <p>&copy; Y - social media CO</p>
    <!-- Social media links (not functional) -->
    <p>
      <a href="#">Profilebook</a> |
      <a href="#">Metube</a> |
      <a href="#">Waitagram</a>
    </p>
  </footer>
  </body>
</html>
